// COLORS
$color-primary: #007bff;
$color-primary-light: #2c8aee;
$color-primary-linear-2: #0e58a7;
$color-primary-linear-1: #76aae1;
$color-white: #fff;
$color-secondary: #6c757d;
$color-secondary-dark: #ff7730;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-pink: #e83e8c;
$color-red: #dc3545;
$color-gray: #e6f0d1a8;
$color-text-dark: #343a40;
$color-black: #333132;
$color-pink-1: #f34079;
$color-pink-2: #e83e8c;
$color-khaki-dark: #948655;
$color-khaki-gray-light: #dcdcd8;

// FONT
$default-font-size: 1.6rem;