@import '../../../sass/abstracts/arivarbles';
@import '../../../sass/abstracts/mixins';

.filter__item {      
  transition: all .3s;
  &:not(:last-child) {
      margin-right: 8rem;
      @include reponsive(phone) {
        margin-right: 4rem;
      }
  }
  &.filter__item--active .heading-fifth {
      color: $color-black;
  }
}