@import '../../../../sass/abstracts/arivarbles';
@import '../../../../sass/abstracts/mixins';
.card {
  &__img {
    width: 100%;
    height: auto;
    min-height: 28.2rem;
    max-height: 28.2rem;
    object-fit: cover;
    @include reponsive(sm-phone) {
      min-height: unset;
      max-height: unset;
      object-fit: unset;
    }
  }
  &__img-box {
   position: relative;
  }
  &__support {
    position: absolute;
    top: 2rem;
    right: -2rem;
    opacity: 0;
    transition: all .5s;
  }
  &__item {
    padding: .8rem 1.2rem;
    background-color: $color-white;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }
  &__icon, &__icon::before {
    font-family: "linea-basic-10" !important;
    font-size: 1.6rem !important;
    font-weight: 600 !important;
  }
    
}