
.card-discount {
  position: absolute;
  top: -2%;
  left: -2%;
  width: 6rem;
  height: 3rem;
  background-color: rgba(238, 238, 237, 0.5);
  background-color: transparent;  
  border: 5px solid orange;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-width: 3px;
  border-left-width: 3px;
  font-size: 1.6rem;
  font-weight: 700;
  padding-left: .8rem;
  color: red;
}