@import '../../../../../sass/abstracts/arivarbles';
@import '../../../../../sass/abstracts/mixins';

.navigation {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  align-items: center;
  &__box {
    position: relative;
    margin-right: 2rem;    
    cursor: pointer;
    @include reponsive (sm-phone) {
        margin-right: 4rem;
    }
  }
  &__total-price {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: $color-khaki-gray-light;
    margin-left: 1.5rem;
    user-select: none;
    font-weight: 600;
    @include reponsive(tablet) {
      top: -15%;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }
}
.navigation__icon-io5 {
    font-size: 3rem;
    color: $color-white;
}
.cart-count {
    position: absolute;
    top: 42%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 600;
    color: $color-khaki-gray-light;
    user-select: none;
}