@import '../../sass/abstracts/arivarbles';

.pagination {
  margin: 2rem 0;
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    color: $color-black;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      border-color: $color-black;
    }
    &:not(:last-child) {
      margin-right: 3rem;
    }
    &.active {
      border-color: $color-black;
    }
    &.no-hover {
      cursor: unset;
      &:hover {
        border-color: transparent;
      }
    }
  }
}