.card-freeship {
  position: absolute;
  bottom: 0%;
  right: -2%;
  width: 7rem;
  height: 3rem;
  padding-right: 1px;  
  padding-bottom: 2px;  
  background-color: rgba(238, 238, 237, 0.5);  
  background-color: transparent;  
  border: 5px solid orange;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 3px;
  border-right-width: 3px;
  text-align: center;
  color: rgb(193, 29, 29);
  font-size: 1.4rem;
}